<html>
  <head>
    <title>Authorization</title>
    <style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
      }
    </style>
  </head>

<form method="post">
<fieldset>
{% csrf_token %}
	<label for="login"> Login: </label>
	<input type="text" id="login" name="login" value=""><br><br>
		<label for="login"> Password: </label>
	<input type="text" id="password" name="password" value=""><br><br>
	<input type="submit" value="Log in">
</fieldset>
</form>

<p> john john is always a variant </p>

</html>
