apache-beam==2.48.0
apache-flink==1.18.0
apache-flink-libraries==1.18.0
apturl==0.5.2
asgiref==3.7.2
attrs==21.2.0
autopep8==2.0.4
avro-python3==1.10.2
bcrypt==3.2.0
blinker==1.4
Brlapi==0.8.3
certifi==2020.6.20
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
cloudpickle==2.2.1
colorama==0.4.4
command-not-found==0.3
crcmod==1.7
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
dill==0.3.1.1
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==5.0
dnspython==2.4.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.8.21
exceptiongroup==1.2.0
fastavro==1.9.2
fasteners==0.14.1
filelock==3.13.1
find-libpython==0.3.1
future==0.18.2
grpcio==1.60.0
hdfs==2.7.3
httplib2==0.20.2
identify==2.5.33
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.0.0
jeepney==0.7.1
jsonschema==3.2.0
kafka-python==2.0.2
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
monotonic==1.6
more-itertools==8.10.0
netifaces==0.11.0
nodeenv==1.8.0
numpy==1.24.4
oauthlib==3.2.0
objsize==0.6.1
olefile==0.46
orjson==3.9.10
packaging==23.2
pandas==2.1.4
paramiko==2.9.3
pemja==0.3.0
pexpect==4.8.0
Pillow==9.0.1
pipreqs==0.4.13
platformdirs==4.1.0
pluggy==1.3.0
pre-commit==3.6.0
proto-plus==1.23.0
protobuf==4.23.4
ptyprocess==0.7.0
py4j==0.10.9.7
pyarrow==11.0.0
pycairo==1.20.1
pycodestyle==2.11.1
pycups==2.0.1
pydot==1.4.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
pymongo==4.6.1
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==7.4.3
pytest-django==4.7.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
regex==2023.12.25
reportlab==3.6.8
requests==2.31.0
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.4.4
systemd-python==234
texttable==1.6.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
virtualenv==20.25.0
wadllib==1.3.6
websocket-client==1.2.3
xdg==5
xkit==0.0.0
yarg==0.1.9
zipp==1.0.0
zstandard==0.22.0
